h1{
	font-family: 'Rock Salt', cursive;
}

h2{
	font-family: 'Rock Salt', cursive;
	font-size: 1.3vw;
}

p{
	font-family: 'Smooch Sans', sans-serif;
	font-weight: 200;
	font-size: 1.6vw;
}

body{

	background-color: lightgray;
}

.first{
	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;
}


.second{

	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;

}

.third{

	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;


}


.fourth {

	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;

}


.fifth{

	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;

}

.sixth{

	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;


}


.seventh{

	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;

}



.eighth{

	font-family: 'Smooch Sans', sans-serif;
	font-weight: 100;
	font-size: 1.2vw;

}