td {
  border: thin solid black;
}

h1{

font-family: 'Antic', sans-serif;

}

h2{

font-family: 'Zen Kaku Gothic Antique', sans-serif;
font-weight: 400;

}



body{

  background-image: url('images/fan.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}


